<template>
    <v-footer class="pa-3">
        <a href="https://gitlab.com/kukiric/monitor" target="_blank">
            <v-icon>mdi-gitlab</v-icon>
        </a>
        <v-spacer/>
        <a href="https://gitlab.com/kukiric/monitor/pipelines" target="_blank">
            <img src="https://img.shields.io/gitlab/pipeline/kukiric/monitor.svg">
        </a>
    </v-footer>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend();
</script>

