<template>
    <v-toolbar dark color="blue darken-3" dense app>
        <v-toolbar-title>Dashboard</v-toolbar-title>
        <v-spacer/>
        <v-toolbar-items>
            <v-btn icon @click="toggleDarkMode">
                <v-icon>mdi-brightness-6</v-icon>
            </v-btn>
            <v-btn icon v-if="user != null" @click="logout">
                <v-avatar size="32">
                    <img :src="user.picture">
                </v-avatar>
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>
<script lang="ts">
import Vue from "vue";
import Cookies from "js-cookie";
import { appState } from "@/store";

export default Vue.extend({
    data() {
        return {
            menuIsActive: false,
            outerClickEvent: (_: MouseEvent) => {},
            user: Cookies.getJSON("user")
        };
    },
    methods: {
        toggleMenu() {
            this.menuIsActive = !this.menuIsActive;
        },
        toggleDarkMode() {
            appState.setDarkMode(!appState.darkMode);
        },
        logout() {
            Cookies.remove("user");
            this.user = undefined;
        }
    },
    mounted() {
        this.outerClickEvent = (event: MouseEvent) => {
            if (this.menuIsActive && event.target instanceof Element) {
                if (event.target.closest("nav") == null) {
                    this.menuIsActive = false;
                }
            }
        };
        document.body.addEventListener("click", this.outerClickEvent);
    },
    beforeDestroy() {
        document.body.removeEventListener("click", this.outerClickEvent);
    }
});
</script>