<template>
    <div class="shadow" :class="{ dark, disabled }">
        <a href="/api/login/google" :class="{ dark, 'google-login': true }"></a>
    </div>
</template>

<script lang="ts">
import { Component, Inject, Prop } from "vue-property-decorator";
import Vue from "vue";

@Component
export default class GoogleLoginButton extends Vue {

    @Inject("theme")
    public theme!: { isDark: boolean };

    @Prop({ default: false })
    public disabled!: boolean;

    get dark() {
        return this.theme && this.theme.isDark;
    }

}
</script>

<style scoped>
.shadow {
    transition: box-shadow 0.218s;
    width: 185px;
    height: 40px;
}
.shadow.disabled {
    filter: saturate(0%) brightness(90%);
    pointer-events: none;
}
.shadow:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}
.shadow.dark:hover {
    box-shadow: 0 0 6px 4px rgba(66, 133, 244, 0.7);
}
.google-login {
    background-image: url("/img/ui/google-login.png");
    background-position: 0px 0px;
    background-size: contain;
    transform: translate(-3px, -3px);
    transition: filter 0.109s;
    display: block;
    width: 191px;
    height: 46px;
}
.google-login.dark {
    background-image: url("/img/ui/google-login-dark.png");
}
.google-login:active {
    filter: brightness(95%);
}
</style>
