<template>
    <div>
        <p class="title mb-2">
            <strong>Message from API: </strong>
            <span :style="style">{{ data.message }}</span>
        </p>
        <p class="subheading font-italic mb-4">{{ data.subtitle }}</p>
        <google-login-button />
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import api from "@/api";

import GoogleLoginButton from "@/components/GoogleLoginButton.vue";

export default Vue.extend({
    components: { GoogleLoginButton },
    data() {
        return {
            data: {
                message: "Loading...",
                subtitle: ""
            },
            style: {}
        };
    },
    async created() {
        try {
            this.data = await api.get("/").then((response) => response.data);
        }
        catch (err) {
            this.data = { message: err.message, subtitle: "" };
            this.style = { color: "#f00" };
            console.error(err);
        }
    }
});
</script>