<template>
    <div class="container">
        <h2 class="title">Well, that's embarrasing...</h2>
        <h4>This page does not exist. Try returning to the <router-link to="/">home page</router-link>.</h4>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend();
</script>