<template>
    <v-app :dark="darkMode">
        <app-toolbar/>
        <v-content>
            <v-container>
                <router-view/>
            </v-container>
        </v-content>
        <app-footer/>
    </v-app>
</template>
<script lang="ts">
import Vue from "vue";
import AppToolbar from "@/components/AppToolbar.vue";
import AppFooter from "@/components/AppFooter.vue";
import { appState } from "@/store";

export default Vue.extend({
    components: { AppToolbar, AppFooter },
    computed: {
        darkMode() {
            return appState.darkMode;
        }
    }
});
</script>
<style>
@media (pointer: coarse) {
    :hover:before {
        background-color: transparent !important;
    }
}
</style>
